<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Room</title>
        <style>
          body {
            margin-left: auto;
            margin-right: auto;
            width: 50%;
          }
          #error {
              color: red;
          }
          button.card {
              margin-right: 50px;
              width: 60px;
              height: 40px;
          }

        </style>
    </head>
    <body>
      <div id="room__form">
          <h3>Identify yourself in this room</h3>
          <input type="text" name="name" placeholder="Participant Name"/>
          <br/>
          <select name="role">
              <option value="PARTICIPANT">Participant</option>
              <option value="OBSERVER">Observer</option>
          </select>
          <button id="join__button" type="submit" onclick="joinRoom()">Join</button>
      </div>

      <div id="room__cards"></div>

      <div id="room__info"></div>
      <script>
          const roomId = location.pathname.split("/")[2]
          console.log(roomId)
          let ws;
          const fetchCards = () => {
              fetch(`/room/${roomId}/cards`, {
                  method: 'GET',
                  headers: { 'Content-Type': 'application/json' }
              })
                  .then(res => res.json())
                  .then(res => {
                      document.getElementById("room__cards").innerHTML = `<hr>` + res.map(n => `<button onclick="voting(${n})" class="card">${n}</button>`)
                  })
          };
          const joinRoom = () => {
              const name = document.querySelector("input").value
              const role = document.querySelector("select").value
              const id = name ? name.toLowerCase().replace(/\s/g, "") : Date.now()
              if(name) {
                  const user = {id, name, role}
                  fetch(`/room/${roomId}/member`,{
                      method: 'POST',
                      headers: {'Content-Type': 'application/json'},
                      body: JSON.stringify({...user, status: true})
                  })
                      .then(r => r.json())
                      .then(r => {
                          fetchCards();

                          //sessionStorage.setItem("user", JSON.stringify({name, role}));
                          ws = new WebSocket(`ws://localhost:8080/ws/room/${roomId}`)
                          ws.onopen = (e) => {
                              ws.send(JSON.stringify({...user, event: 'JOIN'}));
                          }
                          ws.onmessage = (e) => {
                              const members = JSON.parse(e.data);
                              document.getElementById("room__info").innerHTML = `<hr>`+ members.map(d => `<p>${JSON.stringify(d)}</p>`)
                          }
                          ws.onclose = (e) => {
                              document.getElementById("room__info").innerHTML += `<p>Connection lost</p>`
                          }
                      })
              } else {
                  document.querySelector("input").style.backgroundColor = "yellow";
              }
          }

          const voting = (v) => {
              console.log(v)
              ws.send(JSON.stringify({event:'VOTE',vote: v}));
          }

      </script>
    </body>
</html>